######################################
# Intellij                           #
######################################
*.iml
.idea

######################################
# MAC auto files                     #
######################################
.DS_Store

######################################
# Bower example dependencies         #
######################################
examples/deps
